{{define "title"}}Dashboard{{end}}

{{define "main"}}
<div class="app-dashboard">
  <section class="app-section">
    <h2>
      <span>Latest projects</span>
      <a href="/projects">view all</a>
    </h2>
    <p>There is nothing to see here yet!</p>
  </section>
  <section class="app-section">
    <h2>Recent tasks</h2>
    <p>No tasks added to see here yet!</p>
  </section>
</div>
{{end}}