{{define "title"}}Dashboard{{end}}

{{define "app-main"}}
<section class="app-dashboard">
    <div class="app-dashboard__main app-box">hello</div>
    <div class="app-dashboard__aside">
        <div class="app-box">box 1</div>
        <div class="app-box">box 2</div>
    </div>
</section>
{{end}}