{{define "title"}}Projects{{end}}

{{define "main"}}
<section class="app-section">
    <div>
        <h2 class="main-heading">Projects</h2>
        <ol>
            <li>
                <a href="/project/view?id=123">Web Chat</a>
            </li>
            <li>
                <a href="/project/view?id=123">CLI app: parse audio</a>
            </li>
            <li>
                <a href="/project/view?id=123">Platform health check</a>
            </li>
        </ol>
    </div>
</section>
{{end}}