{{define "title"}}Projects{{end}}

{{define "main"}}
<div class="app-dashboard">
    <section class="app-section">
        <h2 class="app-heading">
            <span class="app-heading__link">Projects</span>
            <a href="/project/create" class="app-heading__link app-action">Create project</a>
        </h2>
        {{if .Projects}}
        <table class="app-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody> {{range .Projects}}
                <tr>
                    <td><a href="/project/view?id={{.ID}}">{{.Title}}</a></td>
                    <td>{{.Created}}</td>
                    <td>{{.ID}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <p>There's nothing to see here... yet!</p>
        {{end}}
    </section>
</div>
{{end}}