{{define "title"}}Project name ⚠️{{end}}

{{define "main"}}
<section class="app-section">
    <div>
        <ol class="app-breadcrumbs">
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/projects" class="disabled">Overview</a>
            </li>
        </ol>
        <h2 class="main-heading">Project name ⚠️</h2>
        <ol>
            <li>
                <a href="/project/view?id=123">Task 1 ⚠️</a>
            </li>
            <li>
                <a href="/project/view?id=123">Task 2 ⚠️</a>
            </li>
            <li>
                <a href="/project/view?id=123">Task 3 ⚠️</a>
            </li>
        </ol>
    </div>
</section>
{{end}}