{{define "title"}}Projects{{end}}

{{define "main"}}
<div>
    <div>
        <h2>All projects</h2>
        <ol>
            <li>Web Chat</li>
            <li>CLI app: parse audio</li>
            <li>Platform health check</li>
        </ol>
    </div>
</div>
{{end}}