{{define "title"}}Workspaces{{end}}

{{define "main"}}
<div class="app-dashboard">
    <section class="app-section">
        <h2 class="app-heading">
            <span class="app-heading__link">Workspaces</span>
            <a href="/project/create" class="app-heading__link app-action">Create workspace</a>
        </h2>
        {{if .Workspaces}}
        <table class="app-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Created</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody> {{range .Workspaces}}
                <tr>
                    <td><a href="/workspaces/{{.WorkspaceID}}">{{.Name}}</a></td>
                    <td>{{humanDate .CreatedAt}}</td>
                    <td>{{.WorkspaceID}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
        {{else}}
        <p>There's nothing to see here... yet!</p>
        {{end}}
    </section>
</div>
{{end}}