{{define "title"}}Workspaces{{end}}

{{define "app-main"}}
<section class="app-workspace-list">
    <div class="app-workspace-list__main app-box">
        <h2 class="app-heading">
            <span class="app-heading__link">Workspaces</span>
            <a href="/workspace/create" class="app-heading__link app-action">Create workspace</a>
        </h2>
        <div class="app-workspaces__inner">
            <div class="workspace-card">
                <div class="workspace-card__body">
                    +
                </div>
                <div class="workspace-card__footer">
                    create workspace
                </div>
            </div>
            {{if .Workspaces}}
            {{range .Workspaces}}
            <div class="workspace-card">
                <div class="workspace-card__body">
                    <span class="workspace__id">ID: #{{.WorkspaceID}}</span>
                    <a href="/workspace/view/{{.WorkspaceID}}" class="workspace__link">
                        <span class="workspace__name">
                            {{.Name}}
                        </span>
                        <span class="workspace__description">{{.Description}}</span>
                    </a>

                </div>
                <div class="workspace-card__footer">
                    <div class="workspace__date">created on: {{humanDate .CreatedAt}}</div>
                </div>
            </div>
            {{end}}
        </div>
        {{else}}
        <p>There's nothing to see here... yet!</p>
        {{end}}
    </div>
</section>
{{end}}