{{define "title"}}{{.Project.Title}}{{end}}

{{define "main"}}
{{with .Project}}
<section class="app-box">
    <div>
        <ol class="app-breadcrumbs">
            <li>
                <a href="/projects">Projects</a>
            </li>
            <li>
                <a href="/projects" class="disabled">Overview</a>
            </li>
        </ol>
        <h2 class="main-heading">{{.Title}}</h2>
        <p>created: {{.Created.Weekday}} {{.Created.Day}} {{.Created.Month}}
            {{.Created.Year}}</p>
        <p>{{.Description}}</p>
        <ol>
            <li>
                <a href="/task/view?id=1">Task 1 ⚠️</a>
            </li>
            <li>
                <a href="/task/view?id=2">Task 2 ⚠️</a>
            </li>
            <li>
                <a href="/task/view?id=3">Task 3 ⚠️</a>
            </li>
        </ol>
    </div>
</section>
{{end}}
{{end}}