{{define "app-header"}}
<header class="app-header app-box">
    <!-- {{if .IsAuthenticated}}
    <form action='/user/logout' method='POST'>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <button>Logout</button>
    </form>
    {{else}}
    <a href='/user/signup'>Signup</a>
    <a href='/user/login'>Login</a>
    {{end}} -->

    <div class="app-header__left-col">
        <div class="app-header__current-page">Workspace</div>
        <div class="app-header__current-workspace">
            <img src="/static/icons/icon_workspace-current.svg" alt="workspace icon">
            <span>Commercial apps</span>
        </div>
        <div class="app-header__change-workspace">
            <div class="app-workspace-action">
                <span>change workspace</span>
                <img src="/static/icons/icon-chevron-down.svg" alt="chevron down icon">
            </div>
            <ul class="app-workspace-list">
                <li>
                    <img src="/static/icons/icon_workspace-na.svg" alt="icon workspace">
                    <span>
                        My pet projects
                    </span>
                </li>
                <li>
                    <img src="/static/icons/icon_workspace-na.svg" alt="icon workspace">
                    <span>
                        Freelanc
                    </span>
                </li>
                <li>
                    <img src="/static/icons/icon_workspace-na.svg" alt="icon workspace">
                    <span>
                        Commercial applications Golang
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="app-header__right-col">
        <!-- <div class="app-header__search">
            <form action="" method="POST" class="app-form">
                <input type="text">
            </form>
        </div> -->
        <div class="app-header__widgets">
            <div>
                <img src="/static/icons/icon-inbox.svg" alt="inbox icon">
            </div>
            <div>
                <img src="/static/icons/icon-dark-theme.svg" alt="dark theme icon">
            </div>
        </div>
    </div>
</header>
{{end}}