{{define "app-sidebar"}}
<aside class="app-sidebar app-box">
    <div class="app-sidebar__top">
        <div class="app-sidebar__logo">
            <img src="/static/img/logo-v2.png" width="19" height="27" alt="logo">
            <span>_task _manager</span>
        </div>
        <nav class="app-nav">
            <ul class="app-nav__list">
                <li class="app-nav__list-item">
                    <a href="/" class="app-nav__link">
                        <img src="/static/icons/icon_dashboard-na.svg" alt="icon dashboard">
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="app-nav__list-item">
                    <a href="/workspaces" class="app-nav__link">
                        <img src="/static/icons/icon_workspace-na.svg" alt="icon workspace">

                        <span class="text">Workspaces</span>
                    </a>
                </li>
                <li class="app-nav__list-item">
                    <a href="/projects" class="app-nav__link">

                        <img src="/static/icons/icon_project-na.svg" alt="icon project">
                        <span class="text">Projects</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="app-sidebar__bottom">
        <section class="app-settings">
            <h3 class="app-settings__heading">Account</h3>
            <nav class="app-nav">
                <ul class="app-nav__list">
                    <li class="app-nav__list-item">
                        <a href="/settings" class="app-nav__link">
                            <img src="/static/icons/icon_settings-na.svg" alt="icon settings">
                            <span class="text">Settings</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </section>
        <section class="app-user">
            <div class="app-user__avatar"></div>
            <div class="app-user__info">
                {{with .UserInfo}}
                <div class="app-user__name">{{.Name}}</div>
                <div class="app-user__email">{{.Email}}</div>
                {{end}}
            </div>
        </section>
    </div>

</aside>
{{end}}