:root {
    /* APP STYLES */
    --app-font-family: "Inter", sans-serif;
    --app-gap: 2.6rem;
    --app-radius: 2rem;
    --margin-sm: 0.8rem;
    --margin-md: 1.6rem;
    --margin-lg: 2.4rem;

    --padding-sm: 0.7rem;
    --padding-md: 1.4rem;
    --padding-lg: 2.4rem;

    /* FONT SIZE */
    --font-size-xs: 1.0rem;
    --font-size-sm: 1.2rem;
    --font-size-body: 1.4rem;
    --font-size-md: 1.8rem;
    --font-size-xl: 2.4rem;

    /* COLORS */
    --color-input-accent--dark-theme: #2A2C3A;
    --color-border-accent--dark-theme: #3E404D;
    --color-text-secondary--dark-theme: #AAAAB1;
    --color-text-accent--dark-theme: #FCFDFF;
    --color-attendant: #236BFA;
    --color-white: #FCFDFF;
    --color-red: #e35959;

    --gradient-primary--dark-theme: linear-gradient(90deg, rgba(42, 44, 58, 1) 0%, rgba(40, 42, 57, 1) 100%);


    /* COMPONENT SIZING */
    --height-header: 8rem;
    --height-textarea: 12.8rem;
    --radius-component-sm: 0.8rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--app-font-family);
    font-size: var(--font-size-body);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    overflow: hidden;
}

li {
    list-style: none;
}

@keyframes slideInFromLeft {
    0% {
        transform: translate(200%);
    }

    20% {
        transform: translate(0);
        animation-delay: 3s;
    }

    70% {
        transform: translate(0);
        animation-delay: 3s;
    }

    90% {
        transform: translate(0);
        animation-delay: 3s;
    }

    100% {
        transform: translate(200%);
        animation-delay: 0s;
    }

}

.flash {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
    background-color: var(--color-border-accent--dark-theme);
    color: var(--color-white);
    padding: 2.4rem;
    transform: translate(200%);
    animation: 6s ease-out 0s 1 slideInFromLeft;
}

.app-button {
    border: none;
    border-radius: var(--radius-component-sm);
    background-color: var(--color-attendant);
    color: var(--color-white);
    font-size: var(--font-size-body);
    padding: var(--padding-sm) var(--padding-md);
    cursor: pointer;
}

.app-button.app-button--lg {
    padding: var(--padding-md) var(--padding-lg);
}

.app-user-avatar {
    width: 42px;
    height: 42px;
    background: rgb(134, 67, 243);
    background: linear-gradient(120deg, rgba(134, 67, 243, 1) 0%, rgba(105, 135, 239, 1) 100%);
    border-radius: 50%;
    border: 1px solid var(--color-white);
}

.app-form {
    .app-form__name {
        color: var(--color-text-secondary--dark-theme);
        font-size: var(--font-size-md);
        font-weight: 400;
        margin-bottom: 1rem;
    }

    .app-form__description {
        color: var(--color-text-secondary--dark-theme);
        font-size: var(--font-size-sm);
        font-weight: 400;
        margin-bottom: var(--margin-lg);
    }

    .app-form-non-field-error {
        color: var(--color-red);
        padding: var(--padding-lg);
        border: 2px solid var(--color-red);
        border-radius: var(--radius-component-sm);
        margin-bottom: var(--margin-lg);
    }

    .app-form__input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--margin-lg);

        .app-form__label {
            color: var(--color-text-accent--dark-theme);
            font-size: var(--font-size-sm);
            font-weight: 500;
            margin-bottom: var(--margin-sm);
        }

        .app-form__input,
        .app-form__textarea {
            background-color: var(--color-input-accent--dark-theme);
            border: 1px solid var(--color-border-accent--dark-theme);
            border-radius: var(--radius-component-sm);
            color: var(--color-text-accent--dark-theme);
            font-size: var(--font-size-body);
            font-weight: 500;
            padding: var(--padding-md);

            &::placeholder {
                font-size: var(--font-size-body);
                font-weight: 500;
            }
        }

        .app-form__textarea {
            font-family: var(--app-font-family);
            width: 100%;
            height: var(--height-textarea);
            resize: none;
        }

        .app-form__error {
            color: var(--color-red);
            font-size: var(--font-size-body);
            margin-bottom: var(--margin-sm);
        }

        .app-form__error+.app-form__input {
            border: 2px solid var(--color-red);
        }
    }

    .app-form__submit-group {
        display: flex;
        justify-content: flex-end;
    }
}


.app-wrapper {
    display: flex;
    gap: var(--app-gap);
    padding: var(--app-gap);

    height: 100vh;
}

.app-box {
    padding: var(--app-gap);
    border-radius: var(--app-radius);
}

.app-sidebar.app-box {
    padding-left: 0;
    padding-right: 0;
}

.quote {
    max-width: 720px;
    padding: var(--padding-lg);

    .quote__body {
        font-size: 3rem;
        color: var(--color-white);
        margin-bottom: var(--margin-lg);
    }

    .quote-author {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .quote-author__avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }

    .quote-author__name {
        font-size: 2rem;
    }
}

.app-user-login,
.app-user-signup {
    display: flex;
    width: 100%;
    height: 100%;

    .app-user-login__left-col,
    .app-user-signup__left-col {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40%;
        background-color: var(--color-section--dark-theme);
        position: relative;

        .app-user-login__logo {
            display: flex;
            align-items: center;
            gap: 1rem;

            position: absolute;
            top: 5rem;
            left: 5rem;

            span {
                font-size: var(--font-size-md);
            }
        }

        .app-form {
            flex: 1;
            max-width: 470px;
        }

        .app-form__submit-group {
            display: block;
        }

        .app-button {
            width: 100%;
            display: block;
            margin-bottom: var(--margin-lg);
        }

        .app-form-reference {
            text-align: center;

            span {
                color: var(--color-text-secondary--dark-theme);
            }

            a {
                color: var(--color-white);
            }
        }
    }

    .app-user-login__right-col,
    .app-user-signup__right-col {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.app-sidebar.app-box {
    padding-top: 0;
    padding-bottom: 0;
}

.app-sidebar {
    min-width: 270px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .app-sidebar__logo {
        padding: var(--app-gap);
        height: var(--height-header);
        border-bottom: 2px solid var(--color-border-accent--dark-theme);
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: var(--margin-lg);

        span {
            font-size: var(--font-size-md);
        }
    }

    .app-nav__list-item {
        margin-bottom: var(--margin-sm);
    }

    .app-nav__list-item:hover {
        background: rgb(42, 44, 58);
        background: var(--gradient-primary--dark-theme);
    }

    .app-nav__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: var(--padding-md);
        padding: var(--padding-md) 0 var(--padding-md) var(--app-gap);


        .text {
            color: var(--color-text-secondary--dark-theme);
        }
    }

    .app-settings {
        margin-bottom: 6.5rem;
    }

    .app-settings__heading {
        color: var(--color-border-accent--dark-theme);
        font-size: var(--font-size-sm);
        font-weight: 400;
        text-transform: uppercase;
        margin-left: var(--app-gap);
        margin-bottom: var(--margin-sm);
    }

    .app-user {
        padding: var(--app-gap);
        display: flex;
        align-items: center;
        gap: 1rem;
        background: var(--gradient-primary--dark-theme);
        border-bottom-left-radius: var(--app-radius);
        border-bottom-right-radius: var(--app-radius);
    }

    .app-user__avatar {
        background: #6987EF;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        border: 1px solid var(--color-white)
    }

    .app-user__name {
        font-size: var(--font-size-sm);
    }

    .app-user__email {
        font-size: var(--font-size-xs);
        color: var(--color-text-secondary--dark-theme);
    }

}

.app-content {
    display: flex;
    flex-direction: column;
    gap: var(--app-gap);
    width: 100%;
}

.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--height-header);
    background-color: #64a3ef;

    .app-header__left-col {
        display: flex;
    }

    .app-header__current-page {
        font-size: var(--font-size-xl);
        font-weight: 500;
        padding-right: var(--padding-md);
        margin-right: var(--margin-lg);
        border-right: 1px solid var(--color-border-accent--dark-theme);
    }

    .app-header__current-workspace {
        display: flex;
        align-items: center;
        gap: var(--margin-sm);
        margin-right: var(--margin-md);

        span {
            font-size: var(--font-size-sm);
        }
    }

    .app-header__change-workspace {
        display: flex;
        align-items: center;
        position: relative;

        .app-workspace-action {
            display: flex;
            align-items: center;
            gap: .5rem;
            text-transform: uppercase;

            span {
                color: var(--color-border-accent--dark-theme);
                cursor: pointer;
            }

        }

        .app-workspace-list {
            width: 24rem;
            display: none;
            padding-top: var(--padding-md);
            padding-bottom: var(--padding-md);
            background-color: var(--color-input-accent--dark-theme);
            border-radius: var(--radius-component-sm);
            position: absolute;
            left: 0;
            top: 100%;

            li {
                color: var(--color-text-secondary--dark-theme);
                line-height: 2rem;
                padding: var(--padding-md);
                cursor: pointer;

                &:hover {
                    background-color: var(--color-border-accent--dark-theme);
                }
            }
        }


        &:hover {
            .app-workspace-list {
                display: block;
            }

            .app-workspace-action {
                span {
                    color: var(--color-text-secondary--dark-theme);
                }

                img {
                    display: none;
                }
            }
        }
    }

    .app-header__widgets {
        display: flex;
        align-items: center;
        gap: var(--margin-md);
    }

}




}

.app-main {
    flex: 1;
}

.app-dashboard {
    height: 100%;
    display: flex;
    gap: var(--app-gap);

    .app-dashboard__main {
        flex: 1;
    }

    .app-dashboard__aside {
        width: 306px;
        display: flex;
        flex-direction: column;
        gap: var(--app-gap);

        .app-box {
            height: 50%;
        }
    }
}

.app-workspace-create {
    width: 60%;

    .create-form-workspace-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-md);
        background-color: var(--color-input-accent--dark-theme);
        border-radius: var(--radius-component-sm);

        .info {
            display: flex;
            gap: var(--margin-sm);
            align-items: center;
        }

        .name {
            font-size: var(--font-size-body);
            font-weight: 500;
        }

        .email {
            font-size: var(--font-size-sm);
            color: var(--color-text-secondary--dark-theme);
        }

        .avatar {
            width: 34px;
            height: 34px;
        }
    }
}