:root {
    /* APP STYLES */
    --app-font-family: "Inter", sans-serif;
    --app-gap: 2.6rem;
    --app-radius: 2rem;
    --margin-sm: 0.8rem;
    --margin-md: 1.6rem;
    --padding-sm: 0.7rem;
    --padding-md: 1.4rem;

    /* FONT SIZE */
    --font-size-sm: 1.2rem;
    --font-size-body: 1.4rem;
    --font-size-md: 1.8rem;

    /* COLORS */
    --color-input-accent--dark-theme: #2A2C3A;
    --color-border-accent--dark-theme: #3E404D;
    --color-text-secondary--dark-theme: #64646F;
    --color-text-accent--dark-theme: #FCFDFF;
    --color-attendant: #236BFA;
    --color-white: #FCFDFF;


    /* COMPONENT SIZING */
    --height-header: 8rem;
    --height-textarea: 12.8rem;
    --radius-component-sm: 0.8rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--app-font-family);
    font-size: var(--font-size-body);
}

li {
    list-style: none;
}

.app-button {
    border: none;
    border-radius: var(--radius-component-sm);
    background-color: var(--color-attendant);
    color: var(--color-white);
    font-size: var(--font-size-body);
    padding: var(--padding-sm) var(--padding-md);
    cursor: pointer;
}

.app-user-avatar {
    width: 42px;
    height: 42px;
    background: rgb(134, 67, 243);
    background: linear-gradient(120deg, rgba(134, 67, 243, 1) 0%, rgba(105, 135, 239, 1) 100%);
    border-radius: 50%;
    border: 1px solid var(--color-white);
}

.app-form {
    .app-form__name {
        color: var(--color-text-secondary--dark-theme);
        font-size: var(--font-size-md);
        font-weight: 400;
        margin-bottom: 2rem;
    }

    .app-form__input-group {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--margin-md);

        .app-form__label {
            color: var(--color-text-accent--dark-theme);
            font-size: var(--font-size-sm);
            font-weight: 500;
            margin-bottom: var(--margin-sm);
        }

        .app-form__input,
        .app-form__textarea {
            background-color: var(--color-input-accent--dark-theme);
            border: 1px solid var(--color-border-accent--dark-theme);
            border-radius: var(--radius-component-sm);
            color: var(--color-text-accent--dark-theme);
            font-size: var(--font-size-body);
            font-weight: 500;
            padding: var(--padding-md);

            &::placeholder {
                color: var(--color-text-secondary--dark-theme);
                font-size: var(--font-size-body);
                font-weight: 500;
            }
        }

        .app-form__textarea {
            font-family: var(--app-font-family);
            width: 100%;
            height: var(--height-textarea);
            resize: none;
        }

        .app-form__error {
            color: red;
            font-size: var(--font-size-body);
            margin-bottom: var(--margin-sm);
        }

        .app-form__error+.app-form__input {
            border: 2px solid red;
        }
    }

    .app-form__submit-group {
        display: flex;
        justify-content: flex-end;
    }
}


.app-wrapper {
    display: flex;
    gap: var(--app-gap);
    padding: var(--app-gap);

    height: 100vh;
}

.app-box {
    padding: var(--app-gap);
    border-radius: var(--app-radius);
}

.app-sidebar {
    min-width: 270px;
    width: 270px;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.app-content {
    display: flex;
    flex-direction: column;
    gap: var(--app-gap);
    width: 100%;
}

.app-header {
    height: var(--height-header);
    background-color: #64a3ef;
}

.app-main {
    flex: 1;
}

.app-dashboard {
    height: 100%;
    display: flex;
    gap: var(--app-gap);

    .app-dashboard__main {
        flex: 1;
    }

    .app-dashboard__aside {
        width: 306px;
        display: flex;
        flex-direction: column;
        gap: var(--app-gap);

        .app-box {
            height: 50%;
        }
    }
}

.app-workspace-create {
    width: 60%;

    .create-form-workspace-user {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: var(--padding-md);
        background-color: var(--color-input-accent--dark-theme);
        border-radius: var(--radius-component-sm);

        .info {
            display: flex;
            gap: var(--margin-sm);
            align-items: center;
        }

        .name {
            font-size: var(--font-size-body);
            font-weight: 500;
        }

        .email {
            font-size: var(--font-size-sm);
            color: var(--color-text-secondary--dark-theme);
        }

        .avatar {
            width: 34px;
            height: 34px;
        }
    }
}